# MLOps & Core
mlflow
dagshub
pyyaml
opencv-python

# ML Frameworks & Models
# Window needs to install torch separately
#torch
#torchvision
#torchaudio
ultralytics
rfdetr
boxmot

# Utilities
numpy
pillow
scipy