parent_run_name: "mtmmc_factory_s10_detection_comparison"

mlflow:
  experiment_name: "Detection Models Comparison"

environment:
  device: "auto"
  seed: 123

data:
  #  base_path: "/Volumes/HDD/MTMMC"
  base_path: "D:/MTMMC"
  selected_environment: "factory" # "factory" or "campus"

  # --- Environment Specific Settings ---
  campus:
    scene_id: "s47"
    camera_ids: [ "c01", "c02", "c03", "c05" ]
    max_frames_per_camera: -1

  factory:
    scene_id: "s10"
    camera_ids: [ "c09", "c12", "c13", "c16" ]
    max_frames_per_camera: -1

# --- Models to Run (as Child Runs) ---
models_to_run:
  - model:
      model_name: "yolo11x"
      type: "yolo"
      weights_path: "yolo11x.pt"
      confidence_threshold: 0.5
      person_class_id: 0
      input_width: 640

  - model:
      model_name: "rtdetr_x"
      type: "rtdetr"
      weights_path: "rtdetr-x.pt"
      confidence_threshold: 0.5
      person_class_id: 0
      input_width: 640

  - model:
      model_name: "fasterrcnn_resnet50"
      type: "fasterrcnn"
      weights_path: "FasterRCNN_ResNet50_FPN_Weights.DEFAULT"
      confidence_threshold: 0.5
      person_class_id: 1
      input_width: 640

  - model:
      model_name: "rfdetr_trained"
      type: "rfdetr"
      weights_path: "C:/Users/jwizzedPC/Downloads/temp_spoton/spoton_ml/checkpoints/rfdetr/checkpoint_best_total.pth"
      confidence_threshold: 0.5
      person_class_id: 1
      input_width: 640
